body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  background-color: #f3f4f7;
}

header {
  padding: 0 20px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0 30px;
  min-height: 100vh;

  @media (max-width: 800px) {
    align-items: center;
  }
}

.home {
  display: flex;
  flex-flow: row wrap;
}

#form-file-upload {
  height: 16rem;
  width: 45rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  background-color: #f3f4f6;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border: 4px dashed #189a92;
  border-radius: 24px;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #189a92;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.selected-image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  border-width: 2px;
  border: 4px dashed #189a92;
  border-radius: 24px;
}

.error-container {
  color: red;
}

.image-analyzer-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 35px;

  @media (max-width: 800px) {
    flex-flow: column wrap;
    align-items: center;
  }
}

.image-analysis-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
  max-width: 900px;
  padding: 0px 30px 30px 30px;

  @media (max-width: 800px) {
    max-width: 500px;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 35px;
  }
}

.image-analysis-container:first-child {
  padding-top: 0;
}

.image-analysis-image-container {
  padding: 10px;
  margin-right: 30px;
  background: #eee;
  box-shadow: 0 8px 8px -4px #000;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    margin-right: 0;
  }
}

.image-analysis-metadata {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.predictions li:first-child {
  font-weight: 800;
}
